<h1>Welcome to Embedded Signing!</h1>

<ul>
  <li>
    <%= link_to 'Sign with Template', embeddeds_template_path %>
  </li>
  <li>
    <%= link_to 'Sign with File', embeddeds_file_request_path(file: asset_path("sales-contract.pdf")) %>
  </li>
  <li>
    <%= link_to 'Unclaimed Draft Request with File', embeddeds_unclaimed_draft_path(file: asset_path("sales-contract.pdf")) %>
  </li>
  <li>
    <%= link_to 'Unclaimed Draft Request with Template', embeddeds_unclaimed_draft_template_path %>
  </li>
  <li>
    <%= link_to 'Template Draft', embeddeds_template_draft_path %>
  </li>
</ul>
